body {
    padding: 0;
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
}

header {
    background-color: #007bff;
    padding: 40px 0;
}

header h1 {
    margin-bottom: 10px;
}

.navbar-dark .navbar-nav .nav-link {
    color: #fff !important;
}

.carousel {
    position: relative;
    overflow: hidden;
}

.carousel-inner {
    display: flex;
}

.carousel-item {
    flex: 0 0 100%;
}

.img-fluid {
    max-width: 100%;
    height: auto;
}

.rounded {
    border-radius: 15px;
}

.card-img-top {
    max-height: 200px;
    object-fit: cover;
}

footer {
    background-color: #000;
    color: #fff;
    padding: 15px 0;
    position: relative;
    bottom: 0;
    width: 100%;
}

@media (max-width: 768px) {
    .card-img-top {
        max-height: 150px;
    }
    .img-fluid {
        max-width: 100%;
    }
    .col-md-6 {
        flex: 0 0 100%;
        max-width: 100%;
    }
}

.img-1{
    max-width: 340px;
}